ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li {
    display: inline-block;
    color: #fefff9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: floralwhite;
}

li:hover {
    background-color: #ff785d;
}


.notselected {
      /*position: relative;*/
      display: inline-block;
      cursor: pointer;
}



.selected {
      border:1px solid #555;
      background-color: #da4545;
      box-shadow: 3px 3px 5px #777 inset;
      cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

/*.axis path {*/
  /*display: none;*/
/*}*/

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}