<!DOCTYPE HTML>
<html>
<head>
	<title>Data Visualization HomeWork2</title>
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <ul id = "options">
        <li id = "pca" onclick="twoDScatterPlot('dimension_reduced_data.csv', id)" class="notselected">2DScatter_PCA</li>
        <li id = "mdseuc" onclick = "twoDScatterPlot('euclidean.csv', id)" class = "notselected">MDS_Euc</li>
        <li id = "mdscor" onclick = "twoDScatterPlot('correlation.csv', id)" class = "notselected">MDS_Corr</li>
        <li id = "scm" onclick = "scatterPlotMatrix('highest_attrs_data.csv', id)" class = "notselected">ScatterPlotMatrix</li>
    </ul>
	<script type="text/javascript"  src = "./static/js/main.js">

	</script>
</body>
</html>